@import "src/app/hellopnpjs-web-part/hellopnpjs-web-part.component";
.mat-raised-button.mat-primary {
  background-color: #0B1D51;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 1;
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffff;
    padding: 3rem 5rem;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    .body{
      h3{
        text-align: center;
        font-size: 22px;
      }
    }

    //.actions{
    //  button{
    //    padding: 10px 20px;
    //    border: 0;
    //    border-radius: 5px;
    //    min-width: 80px;
    //    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    //    cursor: pointer;
    //
    //  }
    //  button.btn_primary{
    //    background: #f58c2b;
    //    color:#ffffff;
    //    margin-right: 1rem;
    //  }
    //  button.btn_default{
    //    background: #ccf3ff;
    //  }
    //}
  }
}
