<div class="form_container" *ngIf="rowsFromServer.length > 0 ;else showSpinner">
  <form class="form_info" #moreInfoForm="ngForm">


    <div class="form-group version">
      <label for="version">Version</label>
      <input type="text" class="form-control"
             [(ngModel)]="versionsList[0].Title" name="Version"
             id="version" aria-describedby="emailHelp" disabled>



      <div class="dropdown"  #dropdown *ngIf="versionsList.length> 1">
        <ul>
          <li *ngFor="let version of versionsList;let i=index" >
            <span >{{version.Title}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group submitted">
      <label for="submitted_by">Submitted By </label>
      <input type="text" class="form-control" [(ngModel)]="submittedBy"  name="submittedBy" id="submitted_by" aria-describedby="emailHelp" disabled>
    </div>


    <div class="form-group">
<!--      <label for="version_status">Version Status</label>-->
<!--      <input type="text" class="form-control" [(ngModel)]="salesVersions" id="version_status" name="Status " aria-describedby="emailHelp" disabled>-->
    </div>

    <div class="form-group status">
      <label for="update_date">Update Date</label>
      <input type="text" class="form-control" [value]="updateDate.toString()"  name="update_date" id="update_date"  disabled>
    </div>


    <div class="form-group countries">
      <label for="country">Country</label>
      <input type="text"
             class="form-control"
             id="country"
             aria-describedby="emailHelp"
              *ngIf="countries.length>1;else showOneCountry"
             [(ngModel)]="selectedCountry"
             (click)="this.isShowDropDown = true"
             name="Country"

            >
      <ng-template #showOneCountry>
        <input  type="text"  [value]="countries[0]"  [(ngModel)]="countries[0]" name="Country">
      </ng-template>
      <button class="clear" (click)="onClearDropdownSelection()" *ngIf="selectedCountry !== ''">
<!--        <span>X</span>-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
      </button>

      <div class="dropdown"  #dropdown *ngIf="isShowDropDown && countries.length> 1">
        <ul>
          <li *ngFor="let country of countries;let i=index" (click)="onSelectCountry(country,rowsFromServerByUser)">
            <span >{{country}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group country" style="opacity: 0">
      <label for="sales_type">Sales type </label>
      <input type="text" class="form-control" id="sales_type" aria-describedby="emailHelp" disabled>
    </div>


    <div class="form-group comments">
      <label for="comments" style="margin-bottom: 10px">Comments </label>
      <textarea type="email" class="form-control" id="comments" rows="2" cols="10"
                aria-describedby="emailHelp" [(ngModel)]="comment" name="comment"></textarea>
    </div>
  </form>

<!--  Table-->
<!-- TODO: check if version satatus is Available-->


  <form #tableForm="ngForm"
       class="form_table" style="height: 400px"  >
<!--       class="form_table" style="height: 400px"  *ngIf="salesVersions.FormStatus === 'Available';else showNotificationContainer">-->
    <table class="table">
      <thead>
      <tr>
        <th>
<!--          <input type="checkbox">-->
        </th>
        <th *ngFor="let column of displayedColumns;let i=index" [ngClass]="{'Company': i===0,'Country': i===1,'ItemCodeSAP': i===2,'ItemName': i===3 , 'SalesFOC': i === 4,'SalesType': i === 5,'BusinessSegment': i=== 6,'CustomerSAP': i=== 7,'CustomerName': i === 8}">{{column}}
<!--          <button (click)="onSortBy(column,i)" *ngIf="i === 0 ||i === 1 || i === 2 || i === 3 || i === 4|| i === 5 || i ===6 || i === 7 || i === 8 " >-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 17.01V10h-2v7.01h-3L15 21l4-3.99h-3zM9 3L5 6.99h3V14h2V6.99h3L9 3z"/></svg>-->
<!--          </button>-->


        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rowsFromServerByUser | byCountry: selectedCountry;let i=index;trackBy: customTrackBy"
          [ngClass]="{'selected': checkboxRef.checked === true} " class="row-1">

        <td>
          <input type="checkbox" #checkboxRef (change)="onCheck(row,$event,i)" [checked]="row.checked">
        </td>

        <td style="display: none">
          <input type="text" [value]="row.Title" disabled class="title">
        </td>
        <td>
          <input type="text" [value]="row.Country" disabled class="country">
        </td>
        <td style="display: none">
          <input type="text" [value]="row.Item_x0020_Code_x0020_SAP" disabled class="item__code" >
        </td>
        <td>
          <input type="text" [value]="row.Item_x0020_Name" disabled class="item__name">
        </td>
        <td>
          <input type="text" [value]="row.Sales_x005c_FOC" disabled class="sales__foc">
        </td>
        <td>
          <input type="text" [value]="row.Sales_x0020_Type" disabled class="sales__type">
        </td>
        <td>
          <input type="text" [value]="row.Business_x0020_Segment" disabled class="business__segment">
        </td>
        <td style="display: none">
          <input type="text" [value]="row.Customer_x0020_Code_x0020_SAP" disabled class="customer__code">
        </td>
        <td>
          <input type="text" [value]="row.Customer_x0020_Name" disabled class="customer__name">
        </td>
        <td>
          <input type="text" [value]="row.EC_x0020_Sales_x0020_Price" disabled class="ec__price">
        </td>
        <td>
          <input type="text" [value]="row.HQ_x0020_STD_x0020_Cost" disabled class="hq__cost">
        </td>
        <td>
          <input type="text" [value]="row.Transfer_x0020_Price" disabled class="transfer__price">
        </td>
        <td>
          <input type="text" [value]="row.Localization_x0020_Cost" disabled class="localization__cost">
        </td>
        <td>
          <input type="text" [value]="row.Local_x0020_Cost" disabled class="local__cost">
        </td>
        <td>
          <input type="text" [value]="row.GM_x0020__x0025_" disabled class="gm">
        </td>
        <td>
          <input type="text" [value]="row.SharePoint" disabled class="sharepoint__input">
        </td>
        <td>
          <input type="number" #janQtyRef [(ngModel)]="row.Jan_x002d_20_x0020_Qty" class="input__write disable-select" [name]="'Jan-20-qty'+i" min="1" max="9" required
                 (input)="onCalculateJan_USD(row,+janQtyRef.value,i,$event)" (keydown)="onDisableInputZero($event)" disabled>
        </td>
        <td>
            <input type="text"
                   [name]="'Jan-20-USD'+i" disabled  class="input__read" [value]="row.Jan_x002d_20_x0020_USD?.toLocaleString()" >

        </td>

        <td>
          <input type="number" #febQtyRef [(ngModel)]="row.Feb_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateFeb_USD(row,+febQtyRef.value,i)" [name]="'Fab-20-Qty'+i" disabled min="1" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Feb_x002d_20_x0020_USD?.toLocaleString()" [name]="'Fab-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #marQtyRef [(ngModel)]="row.Mar_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateMar_USD(row,+marQtyRef.value,i)"  [name]="'Mar-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Mar_x002d_20_x0020_USD?.toLocaleString()" [name]="'Mar-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #aprQtyRef [(ngModel)]="row.Apr_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateApril_USD(row,+aprQtyRef.value,i)" [name]="'Apr-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Apr_x002d_20_x0020_USD?.toLocaleString()" [name]="'Apr-20-USD'+i" disabled class="input__read">
        </td>
        <td>
          <input type="number" #mayQtyRef [(ngModel)]="row.May_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateMayUSD(row,+mayQtyRef.value,i)" [name]="'May-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.May_x002d_20_x0020_USD?.toLocaleString()" [name]="'May-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #juneQtyRef [(ngModel)]="row.Jun_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateJuneUSD(row,+juneQtyRef.value,i)" [name]="'Jun-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Jun_x002d_20_x0020_USD?.toLocaleString()" [name]="'Jun-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #julQtyRef [(ngModel)]="row.Jul_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateJulUSD(row,+julQtyRef.value,i)" [name]="'Jul-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Jul_x002d_20_x0020_USD?.toLocaleString()" [name]="'Jul-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #augQtyRef [(ngModel)]="row.Aug_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateAugUSD(row,+augQtyRef.value,i)" [name]="'Aug-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Aug_x002d_20_x0020_USD?.toLocaleString()" [name]="'Aug-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #sepQtyRef [(ngModel)]="row.Sep_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateSepUSD(row,+sepQtyRef.value,i)" [name]="'Sep-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Sep_x002d_20_x0020_USD?.toLocaleString()" [name]="'Sep-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #octQtyRef [(ngModel)]="row.Oct_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateOctUSD(row,+octQtyRef.value,i)" [name]="'Oct-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Oct_x002d_20_x0020_USD?.toLocaleString()" [name]="'Oct-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #novQtyRef [(ngModel)]="row.Nov_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateNovUSD(row,+novQtyRef.value,i)" [name]="'Nov-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>
        <td>
          <input type="text" [value]="row.Nov_x002d_20_x0020_USD?.toLocaleString()" [name]="'Nov-20-USD'+i" disabled class="input__read">
        </td>

        <td>
          <input type="number" #decQtyRef [(ngModel)]="row.Dec_x002d_20_x0020_Qty" class="input__write" (input)="onCalculateDecUSD(row,+decQtyRef.value,i)" [name]="'Dec-20-Qty'+i" disabled min="0" (keydown)="onDisableInputZero($event)">
        </td>

        <td>
          <input type="text" [value]="row.Dec_x002d_20_x0020_USD?.toLocaleString()" [name]="'Dec-20-USD'+i" disabled class="input__read">
        </td>
        <td>
          <input type="text" [value]="row.Annual_x0020_Sales?.toLocaleString()" [name]="'Annual-Sales'+i" disabled class="input__read annual_sales">
        </td>
        <td>
          <input type="text" [value]="row.Annual_x0020_QTY?.toLocaleString()" [name]="'Annual-Qty'+i" disabled class="input__read annual_qty">
        </td>

        <!--      <td>-->
        <!--        <input type="number" [(ngModel)]="row.Submitted_x0020_by" class="input__write"  name="Submitted by">-->
        <!--      </td>-->

        <!--      <td>-->
        <!--        <input type="number" [(ngModel)]="row.Update_x0020_date" disabled name="Update Date">-->
        <!--      </td>-->
      </tr>
      </tbody>
    </table>

    <div class="actions">
      <button class="btn_primary"
              [disabled]="selectedRows.length === 0 || !tableForm.dirty
              "
              (click)="onSubmitTemplateBased(tableForm,rowsFromServer[0].Version,rowsFromServer[0].Status,submittedBy,comment)">Save</button>
      <button class="btn_default" (click)="openYesNoDialog()">Cancel</button>
    </div>

  </form>

  <ng-template #showNotificationContainer>
    <div class="notification-alert">
      <div class="notification-card">
        <div class="card-title">Attention!</div>
        <div class="card-body">Saving new forms is not possible right now, thank you</div>
      </div>
    </div>
  </ng-template>
</div>


<!--===========================================FORM======================================================-->
<div class="notification" *ngIf="showNotification" [ngStyle]="{'background': notification.background}">{{notification.message}}</div>

<app-yes-no *ngIf="showYesNoDialog" (onYesEmitter)="onYesButton($event)"
            (onNoEmitter)="onNoButton($event)"></app-yes-no>


<ng-template #showSpinner>
  <div class="spinner_container">
    <div class="spinner-1"></div>
  </div>

</ng-template>







