.form_container {
  form.form_info {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .form-group {
      margin-bottom: 10px;

      &.countries{
        position: relative;
        button.clear{
          position: absolute;
          top: 4px;
          right: 0;
          background: transparent;
          border: 0;
          outline: 0;
          cursor: pointer;

          &:focus{
            outline: 0;
            border: 0;
          }
        }

        .dropdown{
          position: absolute;
          top: 100%;
          left: 50.4%;
          width: 154px;
          border: 1px solid #f58c2b;
          //border-radius: 10px;
          box-shadow: 0 0 2px rgba(0,0,0,0.6);
          z-index: 10;
          background: #ccf3ff;
          //overflow: hidden;
          display: block;
          height: auto;
          overflow: auto;

          ul{
            padding: 0;
            list-style: none;
            margin: 0;
            overflow: hidden;
            li{
              padding: 5px;
              border-bottom: 1px solid #bdbdbd;
              transition: background 0.3s ease-in-out;
              cursor: pointer;
              &:last-child{
                border-bottom: 0;
              }
              &:hover{
                background: #f58c2b;
                color: #ffffff;
              }
            }
          }
        }
      }

      label {
        min-width: 160px;
        display: inline-block;
      }

      input, textarea {
        border: 1px solid #bdbdbd;
        padding: 5px;
        border-radius: 5px;

        &:active {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
      }

      textarea {
        width: 100%;
        resize: none;

        &:focus {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
      }

      input {
        &:focus {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
        &:disabled{
          background: #c4cfda;
        }
      }


    }

    .comments {
      flex: 1;
      padding: 0 23px;
      margin-top: 1rem;
    }
  }
}

form {
  width: 70vw;
  overflow: auto;

  &.form_table{
    margin-left: 1.4rem;
  }
}

table.table {
  background: #ccf3ff;
  //border: 0;
  //padding: 0;
  //margin: 0;
  //border-collapse: collapse;
  tr {
    th {
      background: #f58c2b;
      color: #fff;
      padding: 5px 10px;
      //position: relative;
      position: sticky;
      top: 0;
      font-weight: bolder;
      //
      &.Company{
        display: none;
      }

      &.Country{
        button{
          right: 8px;
        }
      }
      &.ItemCodeSAP{
        display: none;
        button{
          top: 19px;
        }
      }
      &.CustomerSAP{
        display: none;
        button{
          top: 19px;
        }
      }
      &.BusinessSegment{
        button{
          top: 13px;
        }
      }

      button{
        background: transparent;
        border: 0;
        //display: block;
        //width: 100%;
        outline: 0;
        cursor: pointer;
        position: absolute;
        right: 0;
      }


    }

    td {

      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      border-right: 1px solid rgba(0, 0, 0, .12);

      &:first-child {
        padding: 0 ;
        input[type="checkbox"]{
          outline: none;
          height: 20px;
        }
      }

      //&:nth-of-type(5) {
      //  input {
      //    width: 500px !important;
      //  }
      //
      //}


      input[type="checkbox"]:focus{
        outline: none;
        border: none;
      }

      input {
        border: 0;
        background: transparent;
        text-align: center;
        color: #0B1D51;
        font-weight: 600;
        height:20px;

        &.Jan21USD.show {
          color: #0B1D51;
        }

        &.no-data {
          color: #0B1D51;
        }


        &:focus {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
        &.title{
          width: 115px;
        }
        &.item__code {
          width: 153px;
        }
        &.item__name{
          width: 500px;
        }
        &.gm {
          width: 60px;
        }
        &.sales__foc {
          width: 120px;
        }
        &.sales__type {
          width: 120px;
        }
        &.business__segment {
          width: 120px;
        }
        &.customer__code {
          width: 120px;
        }
        &.customer__name {
          width: 245px;
        }
        &.ec__price {
          width: 75px;
        }
        &.hq__cost {
          width: 75px;
        }
        &.transfer__price {
          width: 65px;
        }
        &.localization__cost {
          width: 90px;
        }
        &.local__cost {
          width: 60px;
        }
        &.input__read{
          width: 70px;
        }
        &.sharepoint__input{
          width: 155px;
        }
        &.annual_sales,&.annual_qty{
          width: 150px;
        }

        &.input__write {
          width: 70px;
          height: 20px;
          text-align: left;
          background: #ffffff;


          &:focus {
            border: 0;
          }
        }

        &:active {
          border: 0 !important;
        }
      }
    }

    &.selected {
      background: #80e1fe;

      td {
        input {
          color: #0B1D51;
        }
      }
    }

  }
}

.actions {
  margin-top: 3rem;
  max-width: 150px;
  width: 100%;
  display: flex;
  //justify-content: space-between;
  button {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    min-width: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  button.btn_primary {
    background: #f58c2b;
    color: #ffffff;
    margin-right: 1rem;

    &:disabled{
      background: #f8c190;
    }
  }

  button.btn_default {
    background: #ccf3ff;
  }
}

.spinner_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .spinner-1 {
    position: relative;

    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 64px;

    &:before {
      position: absolute;
      content: "";
      width: 64px;
      height: 64px;
      border-radius: 64px;
      color: #f58c2b;
      box-shadow: inset -5px 0 0 5px currentColor;
      clip: rect(0, 64px, 32px, 0);
      animation: rotator 1s infinite linear;
    }
  }

  //.spinner-1:before{
  //  position: absolute;
  //  content:"";
  //  width: 64px;
  //  height: 64px;
  //  border-radius:64px;
  //  color:#f58c2b;
  //  box-shadow:inset -5px 0 0 5px currentColor;
  //  clip: rect(0,64px,32px,0);
  //  animation: rotator 1s infinite linear;
  //}
}
.notification{
  //background: 80FF72;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  position: fixed;
  bottom: 27px;
  right: 52px;
  border-radius: 13px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}


@keyframes rotator {
  0% {
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }

  100% {
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}



