.form_container {
  form.form_info {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .form-group {
      margin-bottom: 10px;

      &.countries{
        position: relative;
        button.clear{
          position: absolute;
          top: 4px;
          right: 0;
          background: transparent;
          border: 0;
          outline: 0;
          cursor: pointer;

          &:focus{
            outline: 0;
            border: 0;
          }
        }

        .dropdown{
          position: absolute;
          top: 100%;
          left: 50%;
          width: 50%;
          border: 1px solid #f58c2b;
          border-radius: 10px;
          box-shadow: 0 0 2px rgba(0,0,0,0.6);
          z-index: 10;
          background: #ccf3ff;
          overflow: hidden;
          display: block;

          ul{
            padding: 0;
            list-style: none;
            margin: 0;
            overflow: hidden;
            li{
              padding: 10px;
              border-bottom: 1px solid #bdbdbd;
              transition: background 0.3s ease-in-out;
              cursor: pointer;
              &:last-child{
                border-bottom: 0;
              }
              &:hover{
                background: #f58c2b;
                color: #ffffff;
              }
            }
          }
        }
      }

      label {
        min-width: 160px;
        display: inline-block;
      }

      input, textarea {
        border: 1px solid #bdbdbd;
        padding: 5px;
        border-radius: 5px;

        &:active {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
      }

      textarea {
        width: 100%;
        resize: none;

        &:focus {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
      }

      input {
        &:focus {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }
      }


    }

    .comments {
      flex: 1;
      padding: 0 15px;
    }
  }
}

form {
  width: 70vw;
  overflow: auto;
}

table.table {
  background: #ccf3ff;

  tr {
    th {
      background: #f58c2b;
      color: #fff;
      padding: 10px;


    }

    td {
      //padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
      border-right: 1px solid rgba(0, 0, 0, .12);

      &:first-child {
        padding: 0 10px;
      }

      &:nth-of-type(5) {
        input {
          width: 500px !important;
        }

      }

      input {
        border: 0;
        background: transparent;
        text-align: center;
        color: #0B1D51;
        font-weight: 600;
        height: 35px;

        &.Jan21USD.show {
          color: #0B1D51;
        }

        &.no-data {
          color: #0B1D51;
        }


        &:focus {
          border: 1px solid #f58c2b;
          outline: 1px solid #f58c2b;
        }

        &.input__write {
          height: 35px;
          text-align: left;
          background: #ffffff;


          &:focus {
            border: 0;
          }
        }

        &:active {
          border: 0 !important;
        }
      }
    }

    &.selected {
      background: #f58c2b;

      td {
        input {
          color: #0B1D51;
        }
      }
    }

  }
}

.actions {
  margin-top: 3rem;
  max-width: 150px;
  width: 100%;
  display: flex;
  //justify-content: space-between;
  button {
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    min-width: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  button.btn_primary {
    background: #f58c2b;
    color: #ffffff;
    margin-right: 1rem;

    &:disabled{
      background: #f8c190;
    }
  }

  button.btn_default {
    background: #ccf3ff;
  }
}

.spinner_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .spinner-1 {
    position: relative;

    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 64px;

    &:before {
      position: absolute;
      content: "";
      width: 64px;
      height: 64px;
      border-radius: 64px;
      color: #f58c2b;
      box-shadow: inset -5px 0 0 5px currentColor;
      clip: rect(0, 64px, 32px, 0);
      animation: rotator 1s infinite linear;
    }
  }

  //.spinner-1:before{
  //  position: absolute;
  //  content:"";
  //  width: 64px;
  //  height: 64px;
  //  border-radius:64px;
  //  color:#f58c2b;
  //  box-shadow:inset -5px 0 0 5px currentColor;
  //  clip: rect(0,64px,32px,0);
  //  animation: rotator 1s infinite linear;
  //}
}
.notification{
  //background: 80FF72;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  position: fixed;
  bottom: 27px;
  right: 52px;
  border-radius: 13px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}


@keyframes rotator {
  0% {
    transform: rotate(-180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
  50% {
    transform: rotate(0deg);
    box-shadow: inset -1px 0 0 1px currentColor;
  }

  100% {
    transform: rotate(180deg);
    box-shadow: inset -5px 0 0 5px currentColor;
  }
}



