<div>
  <h1>CRUD operation withs PnPJS</h1>

  <div>
    <h1>Get All items</h1>
    <ul>
      <li *ngFor="let itm of allItems">
        <span>{{itm.Title}}</span>
        <a href="#" (click)="deleteItem(itm)">
          <i class="ms-Icon ms-Icon--RemoveFilter" style="margin-left:15px;" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
   <hr>
  <div>
     <h1>Get Item by Id</h1>
     <input #itemid  type="number" />
     <input type="button" value="Get" (click)="getItemByID(itemid)" /><br>
     <!-- <span>ID:</span><span>{{item.Id}}</span><div> -->
      <span><strong>Id: </strong> {{id}}</span><br>
      <strong>Title: </strong><span>{{title}}</span>
  </div>
   <hr>
   <div>
      <h1>Add item</h1>
      <input id="addItem" #item  type="text" />
      <input type="button" value="Add" (click)="addItem(item)" /><br>

   </div>
   <hr>
   <div>
    <h1>Update item</h1>
    <input id="itemId" #itemID  type="number" placeholder="Item id"/><br>
    <input id="itemTitle" #itemtoupdate  type="text" placeholder="Title" /><br>
    <input type="button" value="Update" (click)="updateItem(itemID, itemtoupdate)" /><br>

 </div>

 <br>
</div>
