<div class="form_container" *ngIf="rowsFromServer.length > 0;else showSpinner">
  <form class="form_info">


    <div class="form-group version">
      <label for="version">Version</label>
      <input type="text" class="form-control" [value]="rowsFromServerByUser[0].Version" id="version" aria-describedby="emailHelp" disabled>
    </div>

    <div class="form-group submitted">
      <label for="submitted_by">Submitted By </label>
      <input type="email" class="form-control" [(ngModel)]="submittedBy" [ngModelOptions]="{standalone: true}" id="submitted_by" aria-describedby="emailHelp" disabled>
    </div>


    <div class="form-group">
      <label for="version_status">Version Status</label>
      <input type="text" class="form-control" [value]="rowsFromServerByUser[0].Status" id="version_status" aria-describedby="emailHelp" disabled>
    </div>

    <div class="form-group status">
      <label for="update_date">Update Date</label>
      <input type="text" class="form-control"   name="submittedBy" id="update_date" aria-describedby="emailHelp" disabled>
    </div>


    <div class="form-group countries">
      <label for="country">Country</label>
      <input type="text"
             class="form-control"
             id="country"
             aria-describedby="emailHelp"
             [(ngModel)]="selectedCountry"
             (click)="this.isShowDropDown = true"
             name="Country"

            >
      <button class="clear" (click)="onClearDropdownSelection()" *ngIf="selectedCountry !== ''">
        <span>X</span>
      </button>

      <div class="dropdown"  #dropdown *ngIf="isShowDropDown">
        <ul>
          <li *ngFor="let country of countries" (click)="onSelectCountry(country)">
            <span >{{country}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group country" style="opacity: 0">
      <label for="sales_type">Sales type </label>
      <input type="text" class="form-control" id="sales_type" aria-describedby="emailHelp" disabled>
    </div>


    <div class="form-group comments">
      <label for="comments" style="margin-bottom: 10px">Comments </label>
      <textarea type="email" class="form-control" id="comments" rows="2" cols="10"
                aria-describedby="emailHelp"></textarea>
    </div>
  </form>

  <form #tableForm="ngForm"
        *ngIf="rowsFromServerByUser.length > 0;else showSpinner">
    <table class="table">
      <thead>
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th *ngFor="let column of displayedColumns">{{column}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rowsFromServerByUser | byCountry: selectedCountry;let i=index;trackBy: customTrackBy"
          [ngClass]="{'selected': this.rowsFromServerByUser.indexOf(this.rowsFromServerByUser[this.selectedRowIndex]) === i  }">

        <td>
          <input type="checkbox" (change)="onCheck(row,$event,i)">
        </td>

        <td>
          <input type="text" [value]="row.Title" disabled></td>
        <td>
          <input type="text" [value]="row.Country" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Item_x0020_Code_x0020_SAP" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Item_x0020_Name" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Sales_x005c_FOC" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Sales_x0020_Type" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Business_x0020_Segment" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Customer_x0020_Code_x0020_SAP" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Customer_x0020_Name" disabled>
        </td>
        <td>
          <input type="text" [value]="row.EC_x0020_Sales_x0020_Price" disabled>
        </td>
        <td>
          <input type="text" [value]="row.HQ_x0020_STD_x0020_Cost" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Transfer_x0020_Price" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Localization_x0020_Cost" disabled>
        </td>
        <td>
          <input type="text" [value]="row.Local_x0020_Cost" disabled>
        </td>
        <td>
          <input type="text" [value]="row.GM_x0020__x0025_" disabled>
        </td>
        <td>
          <input type="text" [value]="row.SharePoint" disabled>
        </td>
        <td>
          <input type="number" #qty [(ngModel)]="row.Jan_x002d_20_x0020_Qty" class="input__write" name="Jan-20 Qty"
                 (input)="onCalculateUSD(row,qty.value,i)">
        </td>
        <td>
            <input type="number"
                   name="Jan-20 USD" disabled  class="Jan21USD" [(ngModel)]="row.Jan_x002d_20_x0020_USD" >

        </td>

        <td>
          <input type="number" [(ngModel)]="row.Feb_x002d_20_x0020_Qty" class="input__write" name="Fab-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Feb_x002d_20_x0020_USD" name="Fab-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Mar_x002d_20_x0020_Qty" class="input__write" name="Mar-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Mar_x002d_20_x0020_USD" name="Mar-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Apr_x002d_20_x0020_Qty" class="input__write" name="Apr-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Apr_x002d_20_x0020_USD" name="Apr-20 USD" disabled>
        </td>
        <td>
          <input type="number" [(ngModel)]="row.May_x002d_20_x0020_Qty" class="input__write" name="May-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.May_x002d_20_x0020_USD" name="May-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Jun_x002d_20_x0020_Qty" class="input__write" name="Jun-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Jun_x002d_20_x0020_USD" name="Jun-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Jul_x002d_20_x0020_Qty" class="input__write" name="Jul-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Jul_x002d_20_x0020_USD" name="Jul-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Aug_x002d_20_x0020_Qty" class="input__write" name="Aug-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Aug_x002d_20_x0020_USD" name="Aug-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Sep_x002d_20_x0020_Qty" class="input__write" name="Sep-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Sep_x002d_20_x0020_USD" name="Sep-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Oct_x002d_20_x0020_Qty" class="input__write" name="Oct-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Oct_x002d_20_x0020_USD" name="Oct-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Nov_x002d_20_x0020_Qty" class="input__write" name="Nov-20 Qty">
        </td>
        <td>
          <input type="number" [(ngModel)]="row.Nov_x002d_20_x0020_USD" name="Nov-20 USD" disabled>
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Dec_x002d_20_x0020_Qty" class="input__write" name="Dec-20 Qty">
        </td>

        <td>
          <input type="number" [(ngModel)]="row.Dec_x002d_20_x0020_USD" name="Dec-20 USD" disabled>
        </td>
        <td>
          <input type="text" [(ngModel)]="row.Annual_x0020_Sales" name="Annual Sales" disabled>
        </td>
        <td>
          <input type="text" [(ngModel)]="row.Annual_x0020_QTY" name="Annual Sales" disabled>
        </td>

        <!--      <td>-->
        <!--        <input type="number" [(ngModel)]="row.Submitted_x0020_by" class="input__write"  name="Submitted by">-->
        <!--      </td>-->

        <!--      <td>-->
        <!--        <input type="number" [(ngModel)]="row.Update_x0020_date" disabled name="Update Date">-->
        <!--      </td>-->
      </tr>
      </tbody>
    </table>


    <div class="actions">
      <button class="btn_primary" [disabled]="selectedRows.length === 0"  (click)="onSubmitTemplateBased(tableForm)">Save</button>
      <button class="btn_default" (click)="openYesNoDialog()">Cancel</button>
    </div>

  </form>
</div>


<!--===========================================FORM======================================================-->
<div class="notification" *ngIf="showNotification" [ngStyle]="{'background': notification.background}">{{notification.message}}</div>

<app-yes-no *ngIf="showYesNoDialog" (onYesEmitter)="onYesButton($event)"
            (onNoEmitter)="onNoButton($event)"></app-yes-no>


<ng-template #showSpinner>
  <div class="spinner_container">
    <div class="spinner-1"></div>
  </div>

</ng-template>







